# https://editorconfig.org
# by lrh
root = true

[*]
charset = utf-8
end_of_line = lf
indent_size = 4
indent_style = space
insert_final_newline = true
trim_trailing_whitespace = true
tab_width = 2

[*.{md,db,bat}]
max_line_length = 0
trim_trailing_whitespace = false

[*.php]
indent_style = space
indent_size = 4

[*.lang]
trim_trailing_whitespace = false

[Makefile]
indent_style = tab
