/*Copyright © 2021 lrhhz All rights reserved*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:"Microsoft YaHei UI", sans-serif , simHei , Onyx;
}

html {
    overflow-x: hidden;
    overflow-y: auto;
}

.intro-main{
    position: absolute;
    top: 150px;
    left: 0;
    right: 0;

    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    padding: 0 0;
    height: 700px;
}

.intro-img{
    margin: 0 45%;
    position: absolute;
    top: -5vh;
    flex: 1;
}

main{
    border-radius: 10px;
    background-color: rgba(111, 97, 97, 0.1);
    width: 93%;
    height: 98%;
    margin-left: 3%;
    flex: 2;
    position: absolute;
    top: 45%;
}

.intro-title{
    font-family: "Microsoft YaHei";
    font-weight: lighter;
    font-size: 20px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-shadow: 10px 10px 10px #cccccc;
    align-items: center;
    justify-content: center;
}

.intro-article{
    margin: 0 3%;
    font-family: Onyx;
    font-weight: lighter;
    line-height: 35px;
    text-indent: 2em;
}