*{
    padding: 0px;
    margin: 0px;
}

body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to bottom, #acb6e5, #86fde8);
    overflow: hidden;
}

.overall{
    position: relative;
    width: 70rem;
}

.overall img{
    width: 70rem;
    border-radius: 10px;
    box-shadow: 10px 10px 20px;
}

.title span{
    color: black;
    font-size: 30px;
    font-weight: bold;
    /* position: ; */
}

.convert span{
    color: #ccc;
    font-size: 1.4rem;
}

.convert span.active{
    color: rgb(181,154,254);
    cursor: pointer;
}

.panel{
    width: 30%;
    margin: 10rem 0 0;
    position: absolute;
    right: 0;
    top: 0;

    display: flex;
    justify-content: center;
}

form{
    width: 12rem;
    margin: 3rem 0 0;
}

form .input{
    position: relative;
    opacity: 1;
    height: 2rem;
    width: 100%;
    margin: 2rem 0;
    transition: .4s;
}



.input input{
    background-color: transparent;
    outline: none;
    width: 100%;
    border: none;
    border-bottom: .1rem solid rgb(181,154,254);
}

.input::after{
    content: attr(placeholder);
    position: absolute;
    left: 0;
    top: -20%;
    font-size: 1.2rem;
    color: rgb(129,101,207);
    transition: .3s;
}

.input.focus::after{
    top: -70%;
    font-size: 1rem;
}

.login .input#email,
.login .input#repeat{
    /* display: none; */
    margin: 0;
    height: 0;
    opacity: 0;
}

form span{
    display: block;
    color: rgb(110,89,167);
    font-size: .8rem;
    cursor: pointer;
    text-decoration: none;
}

form button{
    border: none;
    outline: none;
    margin: 2rem 0 0;
    width: 100%;
    height: 3.5rem;
    border-radius: 3rem;
    background: linear-gradient(90deg,rgb(181,154,254),rgb(245,189,253));
    box-shadow: 0 0 8px rgb(181,154,254);
    cursor: pointer;
    color: white;
}

.form-a{
    text-decoration: #0afaff;
}

nav{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;

    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 5vw;
    height: 80px;
    background-color: rgba(217, 207, 207, 0.9);
}

.nav-h a{
    font-size: 30px;
    font-weight: 600;
    color: #ffffff;
    flex: 1;
    text-decoration: none;
    color: #000;
    transition: 0.2s ease-in-out;
}

.nav-h a:hover{
    cursor: pointer;
    color: #fff;
}

.nav-h a:visited{
    color: #fff;
}

.nav-list{
    flex: 1;
    display: flex;
    justify-content: space-between;
    max-width: 750px;
}

.nav-list li{
    font-size: 20px;
    font-weight: 600;
}

.nav-list li a{
    text-shadow: 1px 1px 1px #a5a5a5;
    text-decoration: none;
    color: #1d1d1d;
    transition: 0.3s;
}

.nav-list li a:hover{
    color: #fff;
}

.burger div{
    width: 25px;
    height: 3px;
    background-color: aliceblue;
    margin: 4px;
}

.burger{
    display: none;
}

@media screen and (max-width: 1450px) {
    .burger {
        display: block;
    }
    .nav-list {
        position: absolute;
        top: 80px;
        right: 0;
        bottom: 0;
        width: 35vw;
        height: calc(100vh - 80px);

        background-color: rgba(65, 81, 101, 0.9);
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;

        transform: translateX(100%);
    }
    .nav-list.open {
        transform: translateX(0);
        transition: 0.4s ease-in-out;
    }
    .nav-list li {
        margin: 3vh;
        transform: translateX(20px);
        opacity: 0;
    }
    .burger.active div {
        transition: 0.3s ease-in-out 0.3s;
    }
    .burger.active .top-line {
        transform: rotate(45deg) translate(4px, 6px);
    }
    .burger.active .bottom-line {
        transform: rotate(-45deg) translate(4px, -6px);
    }
    .burger.active .middle-line {
        opacity: 0;
        transform: translateX(10px);
        transition: 0.3s ease-in-out;
    }
    @keyframes slideIn {
        from {
            transform: translateX(20px);
            opacity: 0;
        }
        to {
            transform: translateX(0);
            opacity: 1;
        }
    }
}