@charset "utf-8";
nav {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;



  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 5vw;
  height: 80px;
  width: 100%;
  background-color: rgba(153, 153, 153, 0.9);
}

.nav-h a {
  font-size: 30px;
  font-weight: 600;
  color: #ffffff;
  flex: 1;
  text-decoration: none;
  color: #000;
  transition: 0.2s ease-in-out;
}

.nav-h a:hover {
  cursor: pointer;
  color: #fff;
}

.nav-h a:visited {
  color: #fff;
}

.nav-list {
  flex: 1;
  display: flex;
  justify-content: space-between;
  max-width: 550px;
}

.nav-list li {
  font-size: 20px;
  font-weight: 600;
}

.nav-list li a {
  text-shadow: 1px 1px 1px #a5a5a5;
  text-decoration: none;
  color: #1d1d1d;
  transition: 0.3s;
}

.nav-list li a:hover {
  color: #fff;
}

.burger div {
  width: 25px;
  height: 3px;
  background-color: aliceblue;
  margin: 4px;
}

.burger {
  display: none;
}

@media screen and (max-width: 1450px) {
  .burger {
    display: block;
  }

  #nav-h a{
    font-size: 20px;
    font-weight: 600;
    color: #ffffff;
    flex: 1;
    text-decoration: none;
    transition: 0.2s ease-in-out;
  }

  .nav-h a:hover {
    cursor: pointer;
    color: #fff;
  }

  .nav-h a:visited {
    color: #fff;
  }

  .nav-list {
    overflow: hidden;
    position: absolute;
    top: 80px;
    right: 0;
    bottom: 0;
    width: 40vw;
    height: calc(100vh - 80px);

    background-color: rgba(65, 81, 101, 0.9);
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    transform: translateX(100%);
  }

  .nav-list.open {
    transform: translateX(0);
    transition: 0.4s ease-in-out;
  }

  .nav-list li {
    margin: 3vh;
    transform: translateX(20px);
    opacity: 0;
  }

  .burger.active div {
    transition: 0.3s ease-in-out 0.3s;
  }

  .burger.active .top-line {
    transform: rotate(45deg) translate(4px, 6px);
  }

  .burger.active .bottom-line {
    transform: rotate(-45deg) translate(4px, -6px);
  }

  .burger.active .middle-line {
    opacity: 0;
    transform: translateX(10px);
    transition: 0.3s ease-in-out;
  }

  @keyframes slideIn {
    from {
      transform: translateX(20px);
      opacity: 0;
    }
    to {
      transform: translateX(0);
      opacity: 1;
    }
  }
}
