#ji,#ni,#tai,#mei {
    width: 100px;
    height: 100px;
    font-size: 24px;
    border-radius: 12px;
    border: 2px solid black;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    color: red;
}
#ni{
    color: blue;
}
#tai{
    color: #2c8931;
}
#mei{
    color: yellow;
}

