*{
    padding: 0;
    margin: 0;
}

@font-face {
    font-family: 'Iceland';
    font-style: normal;
    font-weight: 400;
    src: local('Iceland'), local('Iceland-Regular'), url(http://themes.googleusercontent.com/static/fonts/iceland/v3/F6LYTZLHrG9BNYXRjU7RSw.woff) format('woff');
}

nav {
    position: sticky;
    top: 0;
    left: 0;
    right: 0;


    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 5vw;
    height: 80px;
    background-color: rgba(153, 153, 153, 0.9);
}

.nav-h{
    font-size: 30px;
    font-weight: 600;
    color: #ffffff;
    flex: 1;
}

.nav-list{
    flex: 1;
    display: flex;
    justify-content: space-between;
    max-width: 650px;
}

.nav-list li{
    font-size: 20px;
    font-weight: 600;
}

.nav-list li a{
    text-shadow: 1px 1px 1px #a5a5a5;
    text-decoration: none;
    color: #1d1d1d;
}

.burger div{
    width: 25px;
    height: 3px;
    background-color: aliceblue;
    margin: 4px;
}

.burger{
    display: none;
}

@media screen and (max-width: 890px) {
    .burger {
        display: block;
    }
    .nav-list {
        position: absolute;
        top: 80px;
        right: 0;
        bottom: 0;
        width: 35vw;
        height: calc(100vh - 80px);

        background-color: rgba(65, 81, 101, 0.9);
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;

        transform: translateX(100%);
    }
    .nav-list.open {
        transform: translateX(0);
        transition: 0.4s ease-in-out;
    }
    .nav-list li {
        margin: 3vh;
        transform: translateX(20px);
        opacity: 0;
    }
    .burger.active div {
        transition: 0.3s ease-in-out 0.3s;
    }
    .burger.active .top-line {
        transform: rotate(45deg) translate(4px, 6px);
    }
    .burger.active .bottom-line {
        transform: rotate(-45deg) translate(4px, -6px);
    }
    .burger.active .middle-line {
        opacity: 0;
        transform: translateX(10px);
        transition: 0.3s ease-in-out;
    }
    @keyframes slideIn {
        from {
            transform: translateX(20px);
            opacity: 0;
        }
        to {
            transform: translateX(0);
            opacity: 1;
        }
    }
}


#ji,#ni,#tai,#mei,#wcadlq,#a,#chang,#tiao,#rap,#lq,#zwjs {
    width: 100px;
    height: 100px;
    font-size: 24px;
    border-radius: 12px;
    border: 2px solid black;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    color: red;
}
#ni{
    color: blue;
}
#tai{
    color: #2c8931;
}
#mei{
    color: yellow;
}
#wcadlq{
    color: pink;
}
#a{
    color: purple;
}
#chang{
    color: #ff8c0e;
}
#tiao{
    color: #0afaff;
}
#rap{
    color: #b3ff85;
}
#lq{
    color: #ff795c;
}


.kunyueqi{
    position: absolute;
    top: 20vh;
}

summary{
    text-decoration:none;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
    font-size:1.5em;
    color:#228DFF;
    font-family:Iceland;
}

summary:hover{
    -webkit-animation: neon2 1.5s ease-in-out infinite alternate;
    -moz-animation: neon2 1.5s ease-in-out infinite alternate;
    animation: neon2 1.5s ease-in-out infinite alternate;
}

@-webkit-keyframes neon2 {
    from {
        text-shadow: 0 0 10px #fff,
        0 0 10px  #fff,
        0 0 20px  #fff,
        0 0 30px  #228DFF,
        0 0 60px  #228DFF,
        0 0 70px  #228DFF,
        0 0 80px #228DFF,
        0 0 120px #228DFF;
    }
    to {
        text-shadow: 0 0 5px #fff,
        0 0 10px #fff,
        0 0 15px #fff,
        0 0 20px #228DFF,
        0 0 35px #228DFF,
        0 0 40px #228DFF,
        0 0 50px #228DFF,
        0 0 75px #228DFF;
    }
}

@-moz-keyframes neon2 {
    from {
        text-shadow: 0 0 10px #fff,
        0 0 10px  #fff,
        0 0 20px  #fff,
        0 0 30px  #228DFF,
        0 0 60px  #228DFF,
        0 0 70px  #228DFF,
        0 0 80px #228DFF,
        0 0 120px #228DFF;
    }
    to {
        text-shadow: 0 0 5px #fff,
        0 0 5px #fff,
        0 0 10px #fff,
        0 0 15px #228DFF,
        0 0 25px #228DFF,
        0 0 30px #228DFF,
        0 0 40px #228DFF,
        0 0 60px #228DFF;
    }
}

@keyframes neon2 {
    from {
        text-shadow: 0 0 10px #fff,
        0 0 10px  #fff,
        0 0 20px  #fff,
        0 0 30px  #228DFF,
        0 0 60px  #228DFF,
        0 0 70px  #228DFF,
        0 0 80px #228DFF,
        0 0 120px #228DFF;
    }
    to {
        text-shadow: 0 0 5px #fff,
        0 0 5px #fff,
        0 0 8px #fff,
        0 0 10px #228DFF,
        0 0 25px #228DFF,
        0 0 20px #228DFF,
        0 0 35px #228DFF,
        0 0 60px #228DFF;
    }
}

@media (max-width: 650px) {

    .kunyueqi{
        width: 100%;
    }

    summary{
        font-size:3.5em;
    }

}