*{
    padding: 0;
    margin: 0;
}

/*@font-face {
    font-family: 'Iceland';
    font-style: normal;
    font-weight: 400;
    src: local('Iceland'), local('Iceland-Regular'), url(http://themes.googleusercontent.com/static/fonts/iceland/v3/F6LYTZLHrG9BNYXRjU7RSw.woff) format('woff');
}*/

/*body{
    background:linear-gradient(#243949,#517fa4);
    background:linear-gradient(#fff1eb,#ace0f9);
    opacity:0.7;
}*/

html {
    overflow-x: hidden;
    overflow-y: auto;
}

details summary{
    outline: none;
    cursor: pointer;
    user-select: none;
}

#ji,#ni,#tai,#mei,#wcadlq,#a,#chang,#tiao,#rap,#lq,#zwjs,#o1,#o2,#o3,#fr,#lgm,#ll,#mbp,#nm,#xhb{
    width: 100px;
    height: 100px;
    font-size: 24px;
    border-radius: 12px;
    border: 2px solid black;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    color: red;
}
#ni,#o2{
    color: blue;
}
#tai,#o3{
    color: #2c8931;
}
#mei,#mbp{
    color: yellow;
}
#wcadlq,#lgm{
    color: pink;
}
#a,#fr{
    color: purple;
}
#chang,#nm{
    color: #ff8c0e;
}
#tiao,#xhb{
    color: #0afaff;
}
#rap{
    color: #b3ff85;
}
#lq{
    color: #ff795c;
}


.kunyueqi{
    position: absolute;
    top: 22vh;
}


.bayueqi{
    position: absolute;
    top: 45vh;
    transition: all 0.5s;
}

@media screen and (max-width: 1252px){
    .bayueqi{
        position: absolute;
        top: 50vh;
    }
}

@media screen and (max-width: 1157px){
    .bayueqi{
        position: absolute;
        top: 65vh;
    }
}


@media screen and (max-width: 670px){
    .bayueqi{
        position: absolute;
        top: 76vh;
    }
}

summary{
    text-decoration:none;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
    font-size:1.5em;
    color: #69FF97;
    font-family: Onyx;
}

summary:hover{
    -webkit-animation: textColor 1.6s ease-in-out infinite alternate;
    -moz-animation:  textColor 1.6s ease-in-out infinite alternate;
    animation: textColor 1.6s ease-in-out infinite alternate;
}

@keyframes textColor {
    from {
        text-shadow: 10px 10px 20px 5px #9ebba3;
        color: #69FF97;
    }
    to{
        text-shadow: 10px 10px 20px 5px #09fff5;
        color: #00E4FF;
    }
}

@-webkit-keyframes textColor {
    from {
        text-shadow: 50px 50px 100px 25px #9ebba3;
        color: #69FF97;
    }
    to{
        text-shadow: 50px 50px 100px 25px #09fff5;
        color: #00E4FF;
    }
}

@-moz-keyframes textColor {
    from {
        text-shadow: 50px 50px 100px 25px #9ebba3;
        color: #69FF97;
    }
    to{
        text-shadow: 50px 50px 100px 25px #09fff5;
        color: #00E4FF;
    }
}

@media (max-width: 1300px) {

    .kunyueqi{
        width: 100%;
    }

    summary{
        font-size:3.5em;
    }

}

main {
    width: 100vw;
    height: calc(100vh - 80px);
    background:linear-gradient(#fff1eb,#ace0f9);
    background-size: cover;
}